.page-top{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 63px;
  position: relative;
  &:after{
    position: absolute;
    content: '';
    width: 46vw;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(18, 102, 60, 0.8);
    z-index: 0;
    @include mobile{
      width: 100%;
    }
  }
  @include tablet{
    margin-bottom: 40px;
  }
  @include mobile{
    margin-bottom: 30px;
  }

  &-inner{
    position: relative;
    z-index: 1;
    padding-top:134px;
    padding-bottom: 134px;
    width: 44%;
    padding-right: 94px;
    @include tablet{
      padding-top: 60px;
      padding-bottom: 80px;
      padding-right: 30px;
    }
    @include mobile{
      width: 100%;
      padding-top: 60px;
      padding-bottom: 60px;
      padding-right: 0;
    }
  }
  &-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 25px;
    @include tablet{
      font-size: 36px;
      line-height: 1;
    }
    @include mobile{
      font-size: 28px;
      text-align: center;
    }
  }
  .text-block{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: justify;
  }
}
