.getting-started{
  margin-top: 70px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 77px;
    @include laptop{
      padding-top: 70px;
      padding-bottom: 67px;
    }
    @include tablet{
      padding-top: 50px;
      padding-bottom: 40px;
    }
    @include mobile{
      padding-top: 35px;
      padding-bottom:0px;
    }
  }
  .title{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
    @include laptop{
      font-size: 36px;
      line-height: 1;
    }
    @include mobile{
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  .text-main{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
    max-width: 1113px;

  }
  .subtitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;

    @include laptop{
      font-size: 36px;
      line-height: 1;
    }
    @include mobile{
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  .text-additional{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    max-width: 631px;
    @include tablet{
      font-size: 14px;
    }

  }
  .button-wrapper{
    margin-top: 50px;
    display: flex;
    gap:30px;

    @include mobile{
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      margin-top: 25px;
    }
  }
  .decor-img{
    position: absolute;
    left: -5%;
    bottom: -48px;
    height: 419px;
    width: auto;
    z-index: -0;
    pointer-events: none;
    @include laptop{
      height: 331px;
    }
    @include tablet{
      height: 250px;
    }
    @include mobile{
      margin-top: 20px;
      position: static;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -40px;
      margin-top: -20px;
    }
  }
}
